<form action="/pessoa" method="GET">
    <button type="submit">Cadastrar Pessoa</button>
</form>

<form action="/animal" method="GET">
    <button type="submit">Cadastrar Animal</button>
</form>

<form action="/lote" method="GET">
    <button type="submit">Cadastrar Lote</button>
</form>


<form action="/listaPessoas" method="GET">
    <button type="submit">Visualizar Pessoas</button>
</form>

<form action="/listaAnimais" method="GET">
    <button type="submit">Visualizar Animais</button>
</form>

<form action="/listaLotes" method="GET">
    <button type="submit">Visualizar Lotes</button>
</form>