<form action="/cadastradoPessoa" method="POST">
    <p> Nome completo: </p>
    <input type="text" name="no_pessoa">
    <p> email: </p>
    <input type="text" name="no_email">
    <p> endereco: </p>
    <input type="text" name="endereco">
    <p> sexo: </p>
    <input type="text" name="sexo">
    <p> IC Ativo: </p>
    <input type="text" name="ic_ativo">
    
    <button type="submit">Cadastrar</button>
</form>