<form action="/" method="GET">
    <p> Nome do Lote </p>
    <input type="text" name="no_animal">
    <p> Descricao do Lote: </p>
    <textarea name="ds_lote" id="" cols="30" rows="10"></textarea>
    
    <button type="submit">Cadastrar</button>
</form>

<form action="/pessoa" method="GET">
    <button type="submit">Cadastrar Pessoa</button>
</form>

<form action="/animal" method="GET">
    <button type="submit">Cadastrar Animal</button>
</form>