<form action="/" method="GET">
    <p> Nome do Animal </p>
    <input type="text" name="no_animal">
    <p> Raca: </p>
    <input type="text" name="no_raca">
    <p> Sexo: </p>
    <input type="text" name="sexo">
    <p> Peso: </p>
    <input type="text" name="vr_peso">
    <p> Data de nascimento: </p>
    <input type="text" name="dt_nascimento">
    
    <button type="submit">Cadastrar</button>
</form>